<ul class="flex flex-wrap">
  <% @streams.each do |stream| %>
    <li class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 mb-8 px-2">
      <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden card">
        <%= image_tag stream["thumbnail_url"].gsub(/\{width\}x\{height\}/, "640x360"), alt: "Live Thumb", class: "w-full h-72 object-cover" %>
        <div class="p-4">
          <a href=<%= get_link(stream["user_login"]) %>>
            <h2 class="text-xl font-semibold text-gray-800 title truncate"><%= stream["title"] %></h2>
          </a>
          <p class="text-gray-600 truncate">@<%= stream["user_name"] %></p>
          <p class="mt-2 text-sm text-gray-600 truncate">🎤 Speaking: <%= get_language(stream["language"]) %></p>
          <p class="mt-2 text-sm text-gray-600 truncate">⏱️  Streaming for: <%= get_time(stream["started_at"]) %></p>
          <p class="mt-2 text-sm text-gray-600 truncate">👀 With <%= stream["viewer_count"] %> viewers</p>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<style>
.card {
  min-height: 400px;
}

.title {
  max-height: calc(100% - 60px); 
}

@media (max-width: 640px) {
  .w-full {
    width: 100%;
  }
}
</style>

<script>
$(document).ready(function() {
  $(".card").each(function() {
    var cardHeight = $(this).height();
    var title = $(this).find(".title");
    title.css("max-height", cardHeight - 20); 
  });
});
</script>
